@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

body, div, h1, form, input, p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  color: rgb(97, 95, 95);
}

.title {
  font-family: 'Times New Roman', Times, serif
}

h1 {
  padding: 2% 0 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.amount {
  width: 80%;
  height: 45%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  border: solid 1px #cbc9c9;
}

.input-row{
  height: 30%;
  margin: 0;
}

.btn-row{
  margin: 0;
}

#deposit{
  margin-left: 10%;
}

#redeem {
  margin-right: 10%;
}

thead {
  background-color: #383d51;
  height: 3rem;
  font-size: 1.2rem;
}

tbody {
  background-color: #fafafc;
  height: 70px;
  font-size: 1.2rem;
  color: #615F5F;
  font-weight: 400;
}

.first-row-first-column {
  margin: 0 8% 0 2%;
  background-color: rgb(250,250,252);
  border-radius: 3%;
  padding: 0;
}

.first-row-second-column {
  margin: 0 2% 0 2%;
  background-color: rgb(250,250,252);
  border-radius: 3%;
  padding: 0;
}

.second-row{
  margin-top: 5%;
  height: 10rem;
}

.stats {
  pointer-events: none;
  width: 96%;
  margin-left: 2%;
  height: 7rem;
}

.pie-chart {
  background-color: #fafafc;
  border-radius: 20px;
  padding-bottom: 3%;
}

canvas{
  margin: 0 auto 0 auto;
}

.chart{
  width: 40%;
  height: 40%;
}

hr {
  width: 100%;
}

#balance {
  font-size: 0.9rem;
  font-weight: 600;
  width: 80%;
  margin: 0 0 0 20%;
  text-align: left;
}

#lpt-balance {
  font-size: 0.9rem;
  font-weight: 600;
  width: 80%;
  text-align: right;
  margin-right: 5%;
}

.card-btn {
  cursor: pointer;
  font-size: 1rem;
  border-color: transparent;
  border-radius: 6px;
  background-color: #383d51;
  color: #fff;
  display: inline-block;
  width: 70%;
  height: 3rem;
  margin: 5% 0 0 auto;
}

.card-btn:disabled {
  opacity: 0.6;
  cursor: default;
} 

thead tr{
  color: rgb(233,229,236);
  height: 70px;
}

.notify {
  margin-top: 2.5%;
}

.pool-thead-row {
  background-color: #383d51;
  border: 2px solid #383d51;
  height: 70px;
  font-size: 1.25rem;
  color: rgb(233,229,236);
}

